.headerSection {
    background-color: rgb(52, 116, 140);
    color: white;
    padding: 8px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    font-size: 25px;
    font-weight: 500;
}

.headerRightSection {
    display: flex;
    justify-content: space-between;
}

.headerRightLinkSection {
    font-size: 15px;
    margin-left: 18px;
}

