.headerSection {
<<<<<<< HEAD:src/Components/Dashboard/Header/Header.css
    background-color: rgb(93, 142, 165);
=======
    background-color: rgb(52, 116, 140);
>>>>>>> f0f973093dc06c0e61928a87ebade9439e7176cb:src/Components/Header/Header.css
    color: white;
    padding: 8px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    font-size: 25px;
    font-weight: 500;
}

.headerRightSection {
    display: flex;
    justify-content: space-between;
}

.headerRightLinkSection {
    font-size: 15px;
    margin-left: 18px;
}

