 /* .backgroundImage {
      background-image: url('https://img.freepik.com/free-vector/hand-drawn-pattern-design-back-school-season_23-2150542623.jpg?semt=ais_incoming&w=740&q=80');
   /* background-size: cover; */
      /* background-position: center;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    

    .loginBox{
      position: relative;
      z-index: 2;
      background-color: white;
      padding: 30px;
      max-width: 400px;
      margin: 100px auto;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      text-align: center;
    } */ 